.chat-input-container .MuiInputBase-root .MuiInputAdornment-root .MuiIconButton-root {
  color: #919191;
}

.chat-input {
}

.chat-button-container {
  display: flex;
  justify-content: end;
}

.chat-button {
  width: 24px;
  height: 24px;
  display: flex;
}

.chat-input-palceholder .MuiFormLabel-root {
  font-weight: 600;
  color: rgb(0 0 0 / 48%);
}
